// Additional colours
$off-white: #feffff;

// My custom color variables
$section-break-bg: #3f162e;

$section-break-text: white;

$footer-color: lightgrey;

// My custom fonts
$logo-font: Questrial;


// Override bootstrap default
$body-bg: $off-white;
