@import 'custom';
@import '../node_modules/bootstrap/scss/bootstrap';

// Responsive typography sizes using Bootstrap mixins for the media querries
html {
  @include media-breakpoint-up(sm) { font-size: 16px; }
  @include media-breakpoint-up(md) { font-size: 20px; }
  @include media-breakpoint-up(lg) { font-size: 28px; }
  font-size: 14px;
}

// A bit of extra padding for our simplistic example.
body {
  padding: 2rem 0;
}

// Use Sass inheritance / @extend directive to include some default bootstrap
// classes as part of the definition for our custum class.
.header-subtle {
  @extend .text-warning;
  @extend .text-uppercase;
  font-size: 1.2rem;
  letter-spacing: .12em;
  opacity: .6;
}

/* ------------------- MY CUSTOM CSS/SCSS STYLING ----------------- */

/* Logo styling */
.myLogo{
  font-family: $logo-font;
}

.jumbotron-heading{
  font-family: $logo-font;
}

/* Changing nav font size and centering */

.navbar-nav{
  font-size: 18pt;
  margin: 0 auto;
  padding-right: 250px;
}

/* Removing header gap above navigation */

.navbar{
  left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -48px;
  position: fixed;
  right: 0;
  width: 100%;

}

/* Image Stylings */

.albumPics{
  margin: 10px;
  width: 320px;
}

.myGallery{
  margin: auto;
  max-width: 1800px;
  text-align: center;
}

/* Packages Section Styling */

.pacSection{ // Using Nesting Here
  margin-top: 50px;
  text-align: center;
  width: 100%;

  h3{ /* this is the word "packages" */
    background-color: $section-break-bg;
    color: $section-break-text;
    height: 113px;
    padding: 35px;
    text-align: center;
    width: 100%;
  }

  h5{ /* these are the titles within the "packages" section (i.e. Events Pricing) */
    margin-top: 40px;
    text-align: center;
  }

  p{
    display: inline-block;
    margin: 30px;
    text-align: left;
    width: 330px;
    vertical-align:top;
  }

}


/* About Me Styling */

.aboutSection{ // Using Nesting Here
  text-align: center;
  height: 620px;

  h3{ /* this is the word "about me" */
    background-color: $section-break-bg;
    color: $section-break-text;
    height: 113px;
    padding: 35px;
    text-align: center;
    width: 100%;
  }

  p{
    display: inline-block;
    margin: 35px;
    text-align: left;
    vertical-align: middle;
    width: 330px;
  }
}

.aboutmepic{
  margin-top: 50px;
  width: 330px;
}

/* Contact Me Styling */

.contactSection{

  h3{ /* this is the word "contact me" */
    background-color: $section-break-bg;
    color: $section-break-text;
    height: 113px;
    padding: 35px;
    text-align: center;
    width: 100%;
  }

  p{
    margin: 35px;
    text-align: left;
    margin: 0 auto;
    width: 800px;

  }

  table{
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 100px;
    font-size: 20px;
    margin-top: 70px;
  }

}

/* Footer Styling */

.footer{
  background-color: $footer-color;
  margin-bottom: -100px;
  margin-top: 70px;
  text-align: center;
  padding: 5px;
  font-size: 18px;
}


/* Media Queries */

@media (min-width: 576px) {
  .navbar {
    margin-top: -55px; }

  .albumPics{
    width: 395px; }

  .pacSection p , .aboutSection p{
    width: 540px;}

  .aboutmepic{
    margin: 30px;
    width: 420px;}

  .aboutSection{
    height: 720px;}

  }

@media (min-width: 768px) {
  .navbar {
    margin-top: -70px; }

  .jumbotron-heading{
    font-size: 30pt; }

    .pacSection p , .aboutSection p{
      width: 720px;}

    .aboutmepic{
      margin: 30px;
      width: 600px;}

    .aboutSection{
      height: 840px;}

  }

@media (min-width: 992px) {
  .navbar {
    margin-top: -98px; }

  .jumbotron-heading{
    font-size: 40pt; }

  .lead{
    font-size: 21pt; }

  .aboutSection{
    height: 940px;}

  }


@media (min-width: 1198px) {
  .navbar {
    margin-top: -98px; }

  .aboutSection{
    height: auto;
        }

  }
